.pause-root {
    -fx-background-image: url("Background.png");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-color: #191B43;
}

.buttons-container {
    -fx-background-color: #441E7788;
    -fx-border-color: #999BB9;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.button-label {
    -fx-text-fill: white;
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-size: 28px;
    -fx-font-style: normal;
}