.root {
    -fx-background-image: url("Background.png");
        -fx-background-size: cover;
        -fx-background-repeat: no-repeat;
        -fx-background-position: center;
        -fx-background-color: #191B43;
}

.gameBoard {
    -fx-border-color: #FFFFFF;
    -fx-background-color: #191B43;
    -fx-border-width: 5px;
    -fx-padding: 0;
}

.nextBrickLabel, .holdBrickLabel{
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-style: normal;
    -fx-padding: 20px 0 0 0;
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

.rectangleStyle {
    -fx-fill: linear-gradient(from 41px 34px to 50px 50px, reflect, #ff7f50 30%, #faebd7 47%);
}

.vbox {
    -fx-spacing: 12;
}

.helpInfo {
    -fx-fill: white;
    -fx-alignment: center-left;
    -fx-text-alignment: left;
    -fx-font-size: 10px;
}

.bonusStyle {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
    -fx-font-family: "Press Start 2P", system-ui;
}

.gameOverStyle {
    -fx-font-family: "Let's go Digital";
    -fx-font-size: 48;
    -fx-background-color: red;
}

.bindScoreStyle {
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

.scoreClass{
    -fx-font-family: "Pixelify Sans", sans-serif;
    -fx-font-style: normal;
    -fx-font-size: 23px;
    -fx-text-fill: white;
}

.nextBrick, .holdBrick{
    -fx-border-width: 5px;
    -fx-border-color: #FFFFFF;
    -fx-background-color: #191B43;
    -fx-alignment: center;
}

#leftPanel{
    -fx-padding: 10 10 30 10;
}
